*,
:before,
:after {
  box-sizing: border-box;
}

html,
body,
div,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
li {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}

h1,h2,h3,h4,h5,h6 {
    line-height: 1.2;
}

h1 {
    font-size: 48px;
    font-weight: 200;
    color: #1c0656;
}

h2 {
    font-size: 40px;
    font-weight: 200;
    color: #1c0656;
    margin: .5em 0;
}

h3 {
    font-size: 32px;
    letter-spacing: -0.5px;
    font-weight: 300;
    color: #1c0656;
    margin: 1em 0;
}

h4 {
    font-size: 18px;
    font-weight: 600;
    letter-spacing: -0.125px;
    color: #1c0656;
}

h4:not(:first-child) {
    margin: 3em 0 1.2em;
}

h5 {
    font-weight: 600;
    font-size: 16px;
    margin-bottom: .4em;
}

h6 {
    font-size: 14px;
    font-weight: 600;
    margin-bottom: .4em;
}
