{% extends "layout.html" %}
{% block title %}Chat Server{% endblock %}
{% block head %}
  {{ super() }}
  <script src="//code.jquery.com/jquery-3.1.1.min.js"></script>
  <script src="//cdn.socket.io/socket.io-1.4.5.js"></script>
  <script src="{{ url_for('static', filename='app.js') }}"></script>
{% endblock %}
{% block content %}
  <h1>Chat Server</h1>
  <nav>
    <form class="myNameBar" method="post">
      <label for="myName">Name: </label>
      <input type="text" name="username" id="myName"
      {% if session['user'] %}
        value="{{ session['user'] }}" readonly="true" style="color: grey;"
      {% else %}
        value=""
      {% endif %}
      >
    </form>
    <select class="nameList">
      <option selected="selected" disabled hidden>Select a user...</option>
    </select>
  </nav>
  <section class="rooms">
    <article class="room">
      <h2>Hey</h2>
      <input type="text" id="myMessage">
      <button id="sendButton">send</button>
    </article>
  </section>
  <div id="log"></div>
{% endblock %}
