{% extends "layout.html" %}
{% block title %}Chat Server{% endblock %}
{% block head %}
  {{ super() }}
  <script src="//code.jquery.com/jquery-3.1.1.min.js"></script>
  <script src="//cdnjs.cloudflare.com/ajax/libs/socket.io/1.6.0/socket.io.min.js"></script>
  <script src="{{ url_for('static', filename='app.js') }}"></script>
{% endblock %}
{% block content %}
  <h1>Chat Server</h1>
  <nav>
    <form class="myNameBar" method="post">
      <label for="myName">Name: </label>
      <input type="text" name="username" id="myName">
    </form>
    <select class="nameList">
    </select>
  </nav>
  <section class="rooms">
    <article class="room">
      <h2>Hey</h2>
      <input type="text" id="myMessage">
      <button id="sendButton">send</button>
    </article>
  </section>
{% endblock %}
